body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
}
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
